.btn{
    padding: 8px;
}
.hidden{
    display: none;
}
.red{
    background-color: red;
}

.along{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px ;
}
p{
    font-size: 30px;
}
body{
    transition: 1s;
}
.green{
    color: chartreuse;
}
